* {
    font-family: sans-serif;
}
#header,
h2 {
    text-align: center;
}
#input,
#output {
    width: 40%;
    display: inline-block;
    margin: 0 5%;
}
#output {
    float: right;
}
code {
    display: block;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-family: monospace;
    background-color: lightgrey;
}
a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#links {
    text-align: center;
}
i {
    padding: 2rem 0.5rem;
}